@import url("imp.css");
.cont {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
}
h3{
    color: var(--textcolour);
}